/* Nav styles */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 30px 150px;

}



.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
/* shared style */
.text-primary{
    color: #FD6E0A;
}

.nav-title
{
    font-weight: 800;
    font-size: 45px;
}
nav ul li{
    list-style: none;
}
nav li a{
    text-decoration:none;
}

nav ul{
    display: flex;
    align-items: center;
}
nav ul li
{
    margin-right: 51px;
}
.dark2
{
    color:#474747;
}

.btn-primary{
 background-color:  #FD6E0A;
 font-weight: bold;
 font-size: 20px;
 color: white;
 padding: 18px 35px;
 border-radius: 5px;
 border: none;
    
}
/* header */
.header
{
    background-image: url(../images/developer.png),url(../images/header_bg.png);

    background-repeat: no-repeat;
    background-position: top left,bottom right;
}
/* banner styles */
.banner-greetings
{ font-weight:600px;
    font-size: 45px;
}

.dark1
{
    color: #181818;
}
.banner-title
{
    font-weight: bold;
    font-size: 85px;
}
.dark3
{
    color:#757575;
}
.banner-description
{
    font-weight: 400px;
    font-size: 18px;
}
.banner-profile-pic
{
    width: 584px;
    
}
.banner
{
    display: flex;
    justify-content: space-between;
    margin: 0 35px 0 230px;
}
.banner-content
{
    max-width: 585px;
    
}